/* FONTS */

/* PANGRAM SANS ROUNDED EXTRABOLD */

@font-face {
  font-family: 'Pangram Sans Rounded';
  src: url('./assets/PPPangramSansRounded-Extrabold.woff2') format('woff2'),
       url('./assets/PPPangramSansRounded-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
.pangram-sans-rounded-extrabold {
  font-family: 'Pangram Sans Rounded';
}

/* MATERIAL SYMBOLS */

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' -25,
  'opsz' 20
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* NOTO EMOJI */

.noto-emoji {
  font-family: "Noto Emoji", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}